{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid home-hero">
        <div class="row">
            <div class="home-hero-text col-md-4">
                <h2 class="font-raleway text-black">Welcome to Leftfield Clothing</h2>
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 font-raleway text-uppercase">Shop Now</a>
                </h4>
            </div> 
        </div>
    </div>
{% endblock %}