{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="font-raleway text-uppercase">Thank You</h2>
                <hr>
                <p class="text-black font-raleway">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row font-roboto">
            <div class="col-12 col-lg-7 pb-4">
                <div class="order-confirmation-wrapper p-2 border">

                    <!-- Order info -->
                    <div class="row pb-2">
                        <div class="col">
                            <small class="text-muted font-raleway">Order Info:</small>
                        </div>
                    </div>

                    <!-- Order number -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <!-- Order date -->
                    <div class="row pb-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <!-- Order details -->
                    <div class="row pb-2">
                        <div class="col">
                            <small class="text-muted font-raleway">Order Details:</small>
                        </div>
                    </div>

                    <!-- Order items -->
                    {% for item in order.lineitems.all %}
                        <div class="row pb-2">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">
                                    {{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}
                                </p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Delivering to -->
                    <div class="row pb-2">
                        <div class="col">
                            <small class="text-muted font-raleway">Delivering To:</small>
                        </div>
                    </div>

                    <!-- Full Name -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <!-- Phone number -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <!-- Address 1 -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    <!-- Address 2 -->
                    {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Address 2</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.street_address1 }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Town/city -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    <!-- Postcode -->
                    {% if order.postcode %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.postcode }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <!-- County -->
                    {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">County</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.county }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Country -->
                    <div class="row pb-2">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <!-- Billing info -->
                    <div class="row pb-2">
                        <div class="col">
                            <small class="text-muted font-raleway">Billing Info:</small>
                        </div>
                    </div>

                    <!-- Order total -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ order.order_total|intcomma }}</p>
                        </div>
                    </div>

                    <!-- Delivery cost -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <!-- Grand total -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ order.grand_total|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class=" font-raleway text-uppercase">Back to Profile</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}