/* Open main nav menu items on hover */
/* Code modified from https://www.tutorialrepublic.com/faq/how-to-open-bootstrap-dropdown-menu-on-hover-rather-than-click.php#:~:text=Answer%3A%20Use%20the%20jQuery%20hover,using%20the%20CSS%20and%20jQuery. */
.main-nav-dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

/* Allows h-100 classes and vertical centering to work */
html {
    height: 100%;
}

.home-hero {
    /* background: url('/media/home_hero.png'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* height: 900px; */
    /* display: flex; */
    /* max-width: 100%; */
    /* height: 400px; */
    /* width: auto\9; ie8 */

    background-image: url('/media/home_hero_sm.png');
    height: 400px;
    /* height: calc(vh - 168px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* top: 25%; */
    /* right: 25%;
    transform: translate(-25%, -25%); */

}

.home-hero-text {
    margin: 10px 0 0 20px;
}
/* body {
    background: url('/media/home_hero.png') no-repeat center center fixed;
    height: calc(100vh - 168px);
    height: 100%;
    background-size: cover;
} */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* from Bulma */
/* Ensures Font Awesome icons stay centered and have a consistent size */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -------------------------------- General Text and fonts */

/* --------------------- Text */

.text-black {
    color: #000 !important;
}

.uppercase {
    text-transform: uppercase;
}

/* --------------------- Fonts */

.font-raleway {
    font-family: 'Raleway', sans-serif !important;
}

.font-roboto {
    font-family: 'Roboto', sans-serif !important;
}

/* -------------------------------- General spacing */

/* .header-container {
    padding-top: 11.5rem;
} */

/* -------------------------------- Buttons */

.btn-black {
    background: black;
    color: white;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-sm:hover {
    text-decoration: none;
}

/* --------------------- Category/subcategory buttons  */

a.subcategory-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.active {
    background: #212529 !important;
    color:#fff !important;
}

/* --------------------- Update/remove item buttons  */

a.update-link > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
    cursor: pointer;
}

a.remove-item > span.badge:hover,
.delete-button:hover {
    background: #d9534f !important;
    border-color: #d9534f !important;
    color: #fff !important;
    cursor: pointer;
}

/* --------------------- Back to top button */

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 25px;
    background-color: #fff;
    right: 10px;
    z-index: 9999999;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Borders */

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Header */

/* --------------------- Main logo */

.main-logo-link {
    font-family: 'Raleway', sans-serif;
    /* width: fit-content; */
}

.main-logo-link:hover {
    color: #000;
}

.main-logo-link-leftfield {
    letter-spacing: 2px !important;
    font-weight: 800;
}

.main-logo-link-clothing {
    letter-spacing: 13.8px !important;
    margin: -5px 0 0 11px !important;
    font-weight: 200;
}

/* --------------------- Search bar */

input[name='q']::placeholder {
    color: #aab7c4;
}

/* --------------------- Navbar toggler */

/* Code for changing Bootstrap navbar toggler taken from https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
/* Set the navbar-toggler border color */    
.custom-toggler.navbar-toggler {
    border-color: #000;
    border-width: 2px;
}

/* Set the stroke to black using rgb values (0, 128, 0) */ 
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    margin-bottom: 0.4375rem;
}

/* --------------------- Nav items */

.mobile-nav-list {
    padding: 0;
    margin: 0;
}

/* --------------------- Delivery banner */

.bg-black {
   background: #000 !important; 
}

#delivery-banner > div > h4 {
    font-size: 16px;
}

/* -------------------------------- Footer */

/* .footer-logo-row {
    border-bottom: solid 1px #000;
} */

/* --------------------- Contact us */

.contact-us {
    padding-right: 20px !important;
}

.contact-email:hover {
    text-decoration: none;
}

/* --------------------- Social links */

.social-links {
    font-size: 20px;
}

/* ------------------------------- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 110px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Credit CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes (colors copied from Bootstrap) */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Add & edit product forms */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* -------------------------------- Media Queries */

@media (min-width: 768px) {
    #delivery-banner > div > h4 {
        font-size: 20px;
    }

    .home-hero {
        /* top: 168px; */
        height: 480px;
    }

    .home-hero-text {
        margin: 20px 0 0 20px;
    }
}

@media (min-width: 992px) {
    /* fixed top navbar only on medium and up */
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */

    .home-hero {
        background-image: url('/media/home_hero.png');
        height: 400px;
    }

    .home-hero-text {
            position: absolute;
            top: 50%; 
            left: 75%;
            transform: translate(-50%,-50%);
            /* width: 200px;
            height: 200px; */
    }


    .main-logo-link-clothing {
        margin: -5px 0 0 2px !important;
        /* letter-spacing: 13.8px !important; */
        /* margin: -5px 0 0 1px !important; */
        /* font-weight: 200; */
    }

    /* .header-container {
        padding-top: 10.5rem;
    } */

    /* .btt-button {
        bottom: 204px
    } */

}


@media (min-width: 1200px) {
    /* Slightly larger container on xl screens */
    .container {
      max-width: 80%;
    }

    .home-hero {
        height: 550px;
    }

    .home-hero-text {
        left: 80%;
        /* width: 200px;
        height: 200px; */
}
  }

  


/* .active {
    background: #212529 !important;
    color:#fff !important;
} */