<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown font-raleway">
            <a class="font-weight-bold uppercase nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item pl-lg-2">All Products</a>
                <a href="" class="dropdown-item pl-lg-2">By Price</a>
                <a href="" class="dropdown-item pl-lg-2">By Brand</a>
                <a href="" class="dropdown-item pl-lg-2">By Rating</a>
                <a href="" class="dropdown-item pl-lg-2">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown font-raleway">
            <a class="font-weight-bold uppercase nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item pl-lg-2">All Clothing</a>
                <a href="" class="dropdown-item pl-lg-2">T-Shirts</a>
                <a href="" class="dropdown-item pl-lg-2">Shirts</a>
                <a href="" class="dropdown-item pl-lg-2">Sweatshirts &amp; Hoodies</a>
                <a href="" class="dropdown-item pl-lg-2">Coats &amp; Jackets</a>
                <a href="" class="dropdown-item pl-lg-2">Jeans &amp; Trousers</a>
            </div>
        </li>

        <li class="nav-item dropdown font-raleway">
            <a class="font-weight-bold uppercase nav-link text-black mr-5" href="#" id="footwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="footwear-link">
                <a href="" class="dropdown-item pl-lg-2">All Footwear</a>
                <a href="" class="dropdown-item pl-lg-2">Trainers</a>
                <a href="" class="dropdown-item pl-lg-2">Boots</a>
                <a href="" class="dropdown-item pl-lg-2">Shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown font-raleway">
            <a class="font-weight-bold uppercase nav-link text-black mr-5 " href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item pl-lg-2">All Accessories</a>
                <a href="" class="dropdown-item pl-lg-2">Bags</a>
                <a href="" class="dropdown-item pl-lg-2">Hats</a>
                <a href="" class="dropdown-item pl-lg-2">Socks</a>
            </div>
        </li>

        <li class="nav-item dropdown font-raleway">
            <a class="font-weight-bold uppercase nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item pl-lg-2">All Specials</a>
                <a href="" class="dropdown-item pl-lg-2">New Arrivals</a>
                <a href="" class="dropdown-item pl-lg-2">Sale</a>
            
            </div>
        </li>
    </ul>
</div>