{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <hr>
    <h2 class="font-raleway text-uppercase">{% trans "Password Reset" %}</h2>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="font-raleway">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset font-roboto">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'account_login' %}" class="btn btn-outline-black rounded-0">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="font-raleway text-uppercase">Back to Login</span>
        </a>
        <input class="text-uppercase font-raleway" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="font-raleway">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}