{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" contents="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <!-- Google fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <!-- jQuery and Bootstrap Bundle (includes Popper) -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
            <!-- Font awesome -->
            <script src="https://kit.fontawesome.com/33f71d53d8.js" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Leftfield Clothing {% block extra_title %}{% endblock %}</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header class="container-fluid fixed-top">
            <!-- Delivery banner -->
            <div id="delivery-banner" class="row text-center">
                <div class="col bg-black text-white text-uppercase">
                    <h4 class="font-raleway my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
                </div>            
            </div>
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <!-- Logo -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link text-uppercase text-black">
                        <h2 class="my-0 main-logo-link-leftfield">Leftfield</h2>
                        <h6 class="my-0 main-logo-link-clothing">Clothing</h6>
                    </a>
                </div>
                <!-- Search bar -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Account & Cart -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <!-- Account -->
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item pr-3">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item pr-3">Profile</a>
                                    <a href="{% url 'account_logout' %} pr-3" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %} pr-3" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %} pr-3" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- Cart -->
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <!-- Main site nav modified from https://getbootstrap.com/docs/4.0/components/navbar/ -->
                <div class="col-12 my-auto mx-auto text-center d-block d-lg-none">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link text-uppercase text-black">
                        <h2 class="my-0 main-logo-link-leftfield">Leftfield</h2>
                        <h6 class="my-0 main-logo-link-clothing">Clothing</h6>
                    </a>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light w-100 px-2">
                    <!-- Navbar toggler -->
                    <button class="navbar-toggler custom-toggler rounded-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Mobile version of top header -->
                    {% include 'includes/mobile-top-header.html' %}
                    <!-- Main nav menu -->
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </header>

        <main>
            {% block page_header %}
            {% endblock %}
    
            {% block content %}
            {% endblock %}
        </main>
  
        <footer class="mt-auto">
            <div class="container-fluid footer-container">
                <div class="row bg-white pt-lg-2 footer-logo-row">
                    <!-- Logo -->
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                        <a href="{% url 'home' %}" class="nav-link main-logo-link text-uppercase text-black">
                            <h2 class="my-0 main-logo-link-leftfield">Leftfield</h2>
                            <h6 class="my-0 main-logo-link-clothing">Clothing</h6>
                        </a>
                    </div>
                </div>
                <div class="row bg-white pt-lg-2">
                        <!-- Contact us -->
                    <div class="contact-us col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                        <h5 class="pl-lg-3 font-raleway text-uppercase">Contact Us</h5>
                        <p class="pl-lg-3 text-muted">+44 (0)000 000 0000</p>
                    </div>
                    <!-- Links -->
                    <div class="footer-links col-12 col-lg-4 my-auto py-1 py-lg-0 text-center">
                        <h5 class=" font-raleway text-uppercase">LINKS</h5>
                        <a href=""><p class=" text-muted">Add link here</p></a>
                    </div>
                    <!-- Social links -->
                    <div class="social-links col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-right align-top">
                        <ul class="list-inline pr-lg-3 pb-4">
                            <!-- Facebook link -->
                            <li class="list-inline-item px-4">
                                <a class="text-black" href="https://www.facebook.com/" target="_blank"
                                    rel="noopener"><i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </a>
                            </li>
                            <!-- Instagram link -->
                            <li class="list-inline-item px-4">
                                <a class="text-black" href="https://www.instagram.com/" target="_blank"
                                    rel="noopener"><i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <!-- Twitter link -->
                            <li class="list-inline-item px-4 px-lg-0 pl-lg-4">
                                <a class="text-black" href="https://twitter.com/home" target="_blank"
                                    rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Copyright -->
                <div class="row bg-white pt-lg-4">
                    <div class="col">
                        <div class="copyright-text text-center">&copy; <span id="year"></span> | Leftfield Clothing | All Rights Reserved</div>
                    </div>
                </div>
            </div>
        </footer>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <!-- Check Django message levels to render appropriate toast -->
                <!-- https://docs.djangoproject.com/en/3.2/ref/contrib/messages/ -->
                {% with message.level as level %}
                    <!-- Error -->
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    <!-- Warning -->
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    <!-- Success -->
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    <!-- Info -->
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}

        {% block postloadjs %}
        <!-- Dispaly current year in footer copyright -->
        <script>$("#year").html(new Date().getFullYear());</script>

        <!-- Open main nav menu items on hover -->
        <!-- Code modified from https://www.tutorialrepublic.com/faq/how-to-open-bootstrap-dropdown-menu-on-hover-rather-than-click.php#:~:text=Answer%3A%20Use%20the%20jQuery%20hover,using%20the%20CSS%20and%20jQuery. -->
        <script>
        $(document).ready(function(){
            $(".main-nav-dropdown").hover(function(){
                var dropdownMenu = $(this).children(".dropdown-menu");
                if(dropdownMenu.is(":visible")){
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });     
        </script>

        <!-- Show toasts -->
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}

    </body>
</html>