{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h4 class="font-raleway mb-0">{{ product.name }}</h4>
                    <p class="small font-raleway mb-0 text-left text-muted">{{ product.brand }}</p>
                    <!-- {% if product.brand %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?brand={{ product.brand }}">{{ product.brand }}</a>
                        </p>
                    {% endif %} -->
                    <p class="lead font-roboto mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted font-roboto"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted font-roboto">No Rating</small>
                    {% endif %}
                    {% if product.subcategory %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted font-roboto" href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                <i class="fas fa-tags mr-1"></i>{{ product.subcategory.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <div class="admin-buttons mt-2">
                            <a class="edit-button btn-sm btn-outline-black font-raleway text-uppercase rounded-0" href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="delete-button btn-sm btn-outline-black font-raleway text-uppercase rounded-0" href="{% url 'delete_product' product.id %}">Delete</a>
                        </div>
                    {% endif %}
                    <p class="font-roboto mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row font-raleway">
                            {% with product.has_sizes as s %}
                                {% if s %}
                                    <!-- Jeans & trousers product sizes -->
                                    {% if product.subcategory.name == "jeans_trousers" %}
                                        <div class="col-12">
                                            <p><strong>Size:</strong></p>
                                            <select id="id_product_size" class="form-control rounded-0 w-50 font-roboto" name="product_size">
                                                <option value="30x30">30" x 30"</option>
                                                <option value="30x32">30" x 32"</option>
                                                <option value="30x34">30" x 34"</option>
                                                <option value="32x30">32" x 30"</option>
                                                <option value="32x32" selected>32" x 32"</option>
                                                <option value="32x34">32" x 34"</option>
                                                <option value="34x30">34" x 30"</option>
                                                <option value="34x32">34" x 32"</option>
                                                <option value="34x34">34" x 34"</option>
                                                <option value="36x30">36" x 30"</option>
                                                <option value="36x32">36" x 32"</option>
                                                <option value="36x34">36" x 34"</option>
                                            </select>
                                        </div>
                                    <!-- Footwear product sizes -->
                                    {% elif product.category.name == "footwear" %}
                                        <div class="col-12">
                                            <p><strong>Size:</strong></p>
                                            <select id="id_product_size" class="form-control rounded-0 w-50 font-roboto" name="product_size">
                                                <option value="6">6</option>
                                                <option value="6.5">6.5</option>
                                                <option value="7">7</option>
                                                <option value="7.5">7.5</option>
                                                <option value="8">8</option>
                                                <option value="8.5">8.5</option>
                                                <option value="9">9</option>
                                                <option value="9.5">9.5</option>
                                                <option value="10" selected>10</option>
                                                <option value="10.5">10.5</option>
                                                <option value="11">11</option>
                                                <option value="11.5">11.5</option>
                                                <option value="12">12</option>
                                                <option value="12.5">12.5</option>
                                                <option value="13">13</option>
                                            </select>
                                        </div>
                                    {% elif  product.subcategory.name == "socks" %}
                                        <div class="col-12">
                                            <p><strong>Size:</strong></p>
                                            <select id="id_product_size" class="form-control rounded-0 w-50 font-roboto" name="product_size">
                                                <option value="s">S</option>
                                                <option value="m" selected>M</option>
                                                <option value="l">L</option>
                                            </select>
                                        </div>
                                    <!-- Clothing product sizes  -->
                                    {% else %}
                                        <div class="col-12 font-roboto">
                                            <p><strong>Size:</strong></p>
                                            <select id="id_product_size" class="form-control rounded-0 w-50" name="product_size">
                                                <option value="xs">XS</option>
                                                <option value="s">S</option>
                                                <option value="m" selected>M</option>
                                                <option value="l">L</option>
                                                <option value="xl">XL</option>
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <!-- Quantity selector -->
                                <div class="col-12 font-roboto">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <!-- Minus (decrement) quantity -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- Quantity value -->
                                            <input class="form-control qty_input id_qty_{{ product.id }}" type="number"" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}"
                                                id="">
                                            <!-- Add (increment) quantity -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                    data-item_id="{{ product.id }}" id="">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col{% if s %}-12 mt-2{% endif %}">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3 mt-md-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="font-raleway text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-black rounded-0 font-raleway text-uppercase mt-3 mt-md-5" value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}