{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 text-uppercase">
                    {% if current_categories %}
                        {% for category in current_categories %}
                            <h2 class="font-raleway">All {{ category.friendly_name }}</h2>
                        {% endfor %}
                    {% elif current_subcategories %}
                        {% for subcategory in current_subcategories %}
                            <h2 class="font-raleway">{{ subcategory.friendly_name }}</h2>
                        {% endfor %}
                    {% else %}
                        <h2 class="font-raleway">All Products</h2>
                    {% endif %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div id="items" class="col text-center mt-3">
                {% for category in current_categories %}
                    {% if category.name == "clothing" %}
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=clothing">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Clothing</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=t_shirts">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">T-Shirts</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=shirts">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Shirts</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=sweatshirts_hoodies">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Sweatshirts & Hoodies</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=coats_jackets">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Coats & Jackets</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=jeans_trousers">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Jeans & Trousers</span>
                        </a>
                    {% elif category.name == "footwear" %}
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=footwear">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Footwear</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=trainers">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Trainers</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=boots">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Boots</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=shoes">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Shoes</span>
                        </a>
                    {% elif current_categories is accessories %}
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=accessories">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Accessories</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=bags">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Bags</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=hats">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Hats</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=socks">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Socks</span>
                        </a>
                    {% elif current_categories is special_offers %}
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=special_offers">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">SPECIAL OFFERS TEST BUTTON</span>
                        </a>
                    {% endif %}
                {% endfor %}
                {% for subcategory in current_subcategories %}
                {% if subcategory.category.name == "clothing" %}
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=clothing">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Clothing</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=t_shirts">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">T-Shirts</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=shirts">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Shirts</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=sweatshirts_hoodies">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Sweatshirts & Hoodies</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=coats_jackets">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Coats & Jackets</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=jeans_trousers">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Jeans & Trousers</span>
                    </a>
                {% elif subcategory.category.name == "footwear" %}
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=footwear">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Footwear</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=trainers">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Trainers</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=boots">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Boots</span>
                    </a>
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=shoes">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Shoes</span>
                    </a>
                    {% elif current_categories is accessories %}
                    <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=accessories">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Accessories</span>
                    </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=bags">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Bags</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=hats">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Hats</span>
                        </a>
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?subcategory=socks">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Socks</span>
                        </a>
                    {% elif current_categories is special_offers %}
                        <a class="subcategory-badge text-decoration-none" href="{% url 'products' %}?category=special_offers">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">SPECIAL OFFERS TEST BUTTON</span>
                        </a>
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <!-- <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option> -->
                                <option value="subcategory_asc" {% if current_sorting == 'subcategory_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="subcategory_desc" {% if current_sorting == 'subcategory_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_subcategories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <!-- Credit build links with slugs modifed from
                                https://stackoverflow.com/questions/63481787/how-to-display-uniquely-generated-slugs-in-urls -->
                                <a href="{% url 'product_detail' product.slug %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.slug %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="lead mb-0">{{ product.name }}</p>
                                    <p class="small mb-0 text-left text-muted">{{ product.brand }}</p>
                                    <!-- {% if product.brand %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted" href="{% url 'products' %}?brand={{ product.brand }}">{{ product.brand }}</a>
                                        </p>
                                    {% endif %} -->
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if product.subcategory %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?subcategory={{ product.subcategory.name }}">
                                                    <i class="fas fa-tags mr-1"></i>{{ product.subcategory.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Back to top button -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button -->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
<!-- Add active class to category or subcategory for nav buttons -->
<!-- to mark as active and invert button colours on active page using CSS -->
<script>
    const items = document.querySelectorAll('#items a')
    items.forEach(item => {
        if (location.href.includes('?category')) {
            if (item.href.includes('?category')) {
                const span = item.querySelector('span')
                span.classList.add('active')
            }
        }
        else {
            const subcat = location.href.split('subcategory=')[1];
            if (item.href.endsWith("=" + subcat)) {
                const span = item.querySelector('span')
                span.classList.add('active')
            }
        }
    });
</script>

<!-- JS for source selector box to determine product sorting -->
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}

